<html>
    <body>
        <h1>Welcome {{username}}</h1>

        <form action="/calculator" method="get">
            <input type="submit" value="calc"/>
        </form>
        
        <form action="/maths" method="get">
            <input type="submit" value="maths"/>
        </form>
    </body>
</html>